header.page{
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cc9302;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  margin-top: 120px;
}

#profile-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {

  header.page {
    margin-top: 30px;
    width: 25vw;
  }
  
  #profile-info {
    width: 100%;
    justify-self: flex-end;
    height: 70%;
  }


 }
