.new-tweet{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.new-tweet form{
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.new-tweet .char-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding-top: 1rem;
  font-family: 'Bungee', sans-serif;
}

.new-tweet button{
  color: #FFFFFF;
  background-color: #4056A1;
}

.new-tweet textarea{
  background-color: #f4f1ec;
  border-width: 0 0 0.25rem 0;
  resize: none;
  height: 4rem;
  margin-top: 0.5rem;
  width: 100%;
}

.char-counter output.negative {
  color: red;
}